{% extends 'main/base.html' %}
{% block title %}
    <title>Змінити пароль</title>
{% endblock %}
{% block content %}
<body>
    <div class="jumbotron">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4">
                <h2 class='rde'>Введіть свою пошту</h1>
                <br>
        <form action="reset_password" method="post" class="form-horizontal">
            {% csrf_token %}
            <input name="email" required="" placeholder="E-mail *" style="width: 100%;box-sizing: border-box;background-color: #152826;color:white;border-color: var(--blue-color)"></input><br>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Змінити пароль</button>
        </form>
        </div>
        </div>
    </div>
    </div>
</body>
{% endblock %}