{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Привіт {{ user.username }} !</span></li>
        <form class="form-inline mt-2 mt-md-0" action="javascript:document.getElementById('logoutForm').submit()">
            <button class="btn btn-outline-secondary my-2 my-sm-0" style='background-color: #00f0ff;padding: 10px 25px 'type="submit">Вийти</button>
        </form>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <form class="form-inline mt-2 mt-md-0" action="{% url 'login' %}">
        <button class="btn btn-outline-secondary my-2 my-sm-0" style='padding: 10px 25px' type="submit">Увійти</button>
    </form>
</ul>

{% endif %}
