{% extends 'main/base.html' %}
{% block title %}
    <title>Зміна паролю</title>
{% endblock %}
{% block content %}
<body>
    <div class="jumbotron">
    <div class="container body-content">
        <form action="reset" method="post">
            {% csrf_token %}
            <h2 class="ble">Введіть новий пароль</h2>
            {% for error in messages %}
            <p class="rde">{{ error }}</p>
            {% endfor %}
            <br>
            <input name="new_password" type='password' required="" placeholder="Новий пароль *" style="width: 100%;box-sizing: border-box;background-color: #152826;color:white;border-color: var(--blue-color)"></input>
            <br>
            <br>
            <input name="repit_password" type='password' required="" placeholder="Повтор пароля *" style="width: 100%;box-sizing: border-box;background-color: #152826;color:white;border-color: var(--blue-color)"></input>
            <br>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Змінити пароль</button>
        </form>
    </div>
    </div>
</body>
{% endblock %}