{% extends "main/base.html" %}
{% block title %}
    <title>Реєстрація</title>
{% endblock %}

{% block content %}
<div class="container body-content">
<style>
    body{
        padding-top: 10%;
    }

    .jumbotron{
        background-color: #152826;
    }

</style>
<h2 class='rde'>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
        <section id="RegisterForm">
            <form action="." method="post" class="form-horizontal">
                <h4 class='ble'>Введіть необхідні дані</h4>
                {% csrf_token %}
                {{ user_form.as_p }}
                <button class="btn btn-lg btn-secondary btn-block" type="submit">Зареєструватися</button>
            </form>
        </section>
        </div>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
</div>
