{% extends 'main/base.html' %}

{% block content %}
<title>Статті</title>
<style>
  img {
    max-width: 100%;
    height: 200px;
    width: 100%; /* ie8 */
  }
</style>
<div class="container body-content">
<h1 style="text-align: center;">Статті</h1>
<br>
  {% load bootstrap4 %}
  {% bootstrap_pagination posts pages_to_show=5 %}
  {% if not posts %}
<b class='ble'>Нічого немає</b>
  {% else %}
    {% for obj in posts %}
    <div class="jumbotron">
    <a href="{{ obj.id }}"><h3 class='rde'>{{ obj.title }}</h3></a>
      <div class="row">
          <div class="col-md-4">
              <img src="{{ obj.imagin1.url }}">
          </div>
          <div class="col-md-8">
            <p class="sta">{{ obj.article_text|truncatechars:200 }}</p>
          </div>
      </div>
      <span class='ble'>{{ obj.post_date }}</span>
    </div>
<br>
    {% endfor %}
  {% endif %}

  {% bootstrap_pagination posts pages_to_show=5 %}
{% endblock %}
</div>